@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
html, body, panel, headBar{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    height: 100%;
    max-width: 100%;
    font-family: "Roboto";
}
body{
    display: grid;
    grid-template-columns: 1fr 4fr;
}
sidebar{
    background-color: #1992d4;
    color: white;
    padding: 0.6rem 0.6rem 0.6rem 0.6rem;
    font-weight: bold;
    display: grid;
    grid-template-columns: 20% 70%;
    column-gap: 5px;
    grid-template-rows: repeat(auto-fit, max-content);
    max-height: fit-content;
}

DashboardTitle:first-child{
    height: 5vw;
    max-height: 40px;
    max-width: auto;
}
sidebar>img{
    max-height: 30px;
    padding-top: 50%;
    padding-bottom: 50%;
}
sidebar>p{
    padding-left: 1px;
    font-size: 12px;
}
p{
    max-height: 40px;
}
mainPanel{
    display: grid;
    grid-template-rows: 2fr 10fr;
    color:black;
}
panel{
    padding: 0.6rem 0.6rem 0.6rem 0.6rem;
    background-color: #e2e8f0;
}
headBar{
    padding: 0 0 0.6rem 0.6rem;
    background-color: white;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 1fr 1fr;
    column-gap: 2vw;
}
searchbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
searchbar>img, profile>img{
    max-height: 20px;
}
span{
    display: block;
    background-color: #e2e8f0;
    width: 100%;
    height: 20px;
    border-radius: 10px;
}
#profile-icon{
    max-height: 30px;
    border-radius: 20px;
}
#profile{
    max-height: 50px;
    border-radius: 25px;
}
intro>p, profile{
    font-size: 12px;
    font-weight: bold;
}
profile, intro, buttons{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
}
button{
    background-color: #1992d4;
    border-radius: 10px;
    color: white;
    border: none;
    padding: 5px 10px 5px 10px;
}
buttons, profile{
    max-width: fit-content;
}